@import "Variables.scss";

.header {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    font-weight: 700;

    li {
        font-size: 1.4rem;
        margin-right: 0.7rem;
        text-decoration: none;

        .link {
            text-decoration: none;
            color: $dark-black;

            &:hover{
                color: $red;
            }
        }
    }
}