@import "index.scss";

.subText {
    font-size: 0.8rem;

    &.dark {
        color: $darkText;
    }
    &.light {
        color: $lightText;
    }
}

.link {
    text-decoration: underline;

    &.dark {
        color: $darkBolded;
    }
    &.light {
        color: $lightBolded;
    }

    &:hover, &:focus {
        color: $lightRed;
    }
}