@import "index.scss";

.card {
    margin: 0.5rem 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;

    &.dark {
        background-color: rgba(65, 65, 65, 0.8);
    }
    &.light {
        background-color: rgba(190, 190, 190, 0.5);
    }

    span {
        margin: 0 auto;
        vertical-align: middle;
        font-size: 0.8rem;

        &.dark {
            color: $darkBolded;
        }
        &.light {
            color: $lightBolded;
        }
    }  
}

.postContainer {
    width: 100%;
    padding-left: 0.5rem;

    &.dark {
        background-color: $darkPostBG;
    }

    &.light {
        background-color: $lightPostBG;
    }
}

.storyContainer {
    margin: 0;
    padding: 0 2rem;
}

.storyLink {
    text-decoration: none;

    &.dark {
        color: $darkRed;
    }
    &.light {
        color: $lightRed;
    }

    &:visited {
        &.dark {
            color: $boldDarkRed;
        }
        &.light {
            color: $boldLightRed;
        }
    }
}

@media only screen and (max-width: 721px) {
    .storyContainer {
        padding: 0rem;
    }
}